In [1]:
import pandas as pd
import csv
from csv import writer
from csv import reader

In [2]:
df = pd.read_csv('crime_data_w_neighborhood.csv')
df['neighborhood'].unique()

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0,2,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

array(['Roxbury', 'Dorchester', 'South End', 'Hyde Park', 'Back Bay',
       'Brighton', 'Downtown', 'East Boston', 'Mattapan', 'Roslindale',
       'West Roxbury', 'North End', 'Leather District', 'Allston',
       'South Boston', 'Fenway', 'Jamaica Plain', 'Mission Hill',
       'Charlestown', 'West End', 'Beacon Hill', 'Longwood',
       'Bay Village', 'Chinatown', 'None'], dtype=object)

In [3]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,neighborhood
0,I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,NaN,8/28/2015 10:20,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
1,I152067834,3301,Verbal Disputes,VERBAL DISPUTE,B2,288,NaN,8/16/2015 16:33,2015,8,Sunday,16,Part Three,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
2,I152067834,423,Aggravated Assault,ASSAULT - AGGRAVATED,B2,288,NaN,8/16/2015 16:33,2015,8,Sunday,16,Part One,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
3,I152061971,3301,Verbal Disputes,VERBAL DISPUTE,B2,288,NaN,7/27/2015 10:05,2015,7,Monday,10,Part Three,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
4,I162098420,617,Larceny,LARCENY THEFT FROM BUILDING,B2,280,NaN,12/2/2016 15:45,2016,12,Friday,15,Part One,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury

In [5]:
df.to_excel('crime data with neighborhood excel.xlsx')

In [57]:
violent_crimes = ['THREATS TO DO BODILY HARM','ASSAULT - AGGRAVATED','DISORDERLY CONDUCT','ASSAULT SIMPLE - BATTERY','ARSON', 'ROBBERY - STREET','ASSAULT - AGGRAVATED - BATTERY', 'ASSAULT - SIMPLE','FUGITIVE FROM JUSTICE',
       'HARASSMENT','BURGLARY - RESIDENTIAL - FORCE','KIDNAPPING - ENTICING OR ATTEMPTED','ROBBERY - BANK', 'WEAPON - FIREARM - SALE / TRAFFICKING', 'HOME INVASION',
       'KILLING OF FELON BY POLICE','ASSAULT & BATTERY', 'ROBBERY ATTEMPT - KNIFE - BANK','ASSAULT & BATTERY D/W - OTHER','ASSAULT D/W - KNIFE ON POLICE OFFICER','VIOLATION - HARASSMENT PREVENTION ORDER''Migrated Report - Robbery']
drug_crimes = ['DRUGS - SICK ASSIST - HEROIN','DRUGS - POSS CLASS D','DRUGS - POSS CLASS C - INTENT TO MFR DIST DISP','DRUGS - POSS CLASS A - HEROIN, ETC. ','DANGEROUS OR HAZARDOUS CONDITION', 'DRUGS - POSS CLASS E',
       'DRUGS - SICK ASSIST - OTHER HARMFUL DRUG','DRUGS - SALE / MANUFACTURING','OPERATING UNDER THE INFLUENCE DRUGS','DRUGS - POSS CLASS B - COCAINE, ETC.','DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP','DRUGS - POSSESSION','DRUGS - CONSP TO VIOL CONTROLLED SUBSTANCE',
       'DRUGS - POSS CLASS E - INTENT TO MFR DIST DISP','DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP','DRUGS - POSSESSION OF DRUG PARAPHANALIA','DRUGS - SICK ASSIST - OTHER NARCOTIC','DRUGS - POSS CLASS D - INTENT TO MFR DIST DISP','DRUGS - CLASS A TRAFFICKING OVER 18 GRAMS','DRUGS - POSS CLASS E INTENT TO MF DIST DISP', 'DRUGS - POSS CLASS D - MARIJUANA, ETC.','DRUGS - POSS CLASS D - INTENT MFR DIST DISP','DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS','DRUGS - GLUE INHALATION','DRUGS - POSSESSION/ SALE/ MANUFACTURING/ USE']
housing_crimes = ['LARCENY THEFT FROM BUILDING','ARSON','STOLEN PROPERTY - BUYING / RECEIVING / POSSESSING',
       'PROPERTY - STOLEN THEN RECOVERED','PROPERTY - MISSING','BURGLARY - RESIDENTIAL - FORCE',
       'BURGLARY - RESIDENTIAL - NO FORCE','BURGLARY - RESIDENTIAL - ATTEMPT','BURGLARY - COMMERICAL - NO FORCE','ROBBERY - HOME INVASION','POSSESSION OF BURGLARIOUS TOOLS','BURGLARY - OTHER - ATTEMPT','B&E RESIDENCE DAY - NO PROP TAKEN','PROPERTY - LOST/ MISSING','BURGLARY - COMMERICAL','BURGLARY - RESIDENTIAL','BREAKING AND ENTERING (B&E) MOTOR VEHICLE (NO PROPERTY STOLEN)','Migrated Report - Robbery','Migrated Report - Burglary/Breaking and Entering']

In [35]:
df = pd.read_csv('crime_data_w_neighborhood.csv')
index_old = df.index
df = df.loc[df['YEAR']== 2021]
df = df[df.OFFENSE_DESCRIPTION.isin(violent_crimes)]
size = len(df.index)
print(size)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0,2,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

4548

In [58]:
df_new.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,neighborhood
0,I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,NaN,8/28/2015 10:20,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
2,I152067834,423,Aggravated Assault,ASSAULT - AGGRAVATED,B2,288,NaN,8/16/2015 16:33,2015,8,Sunday,16,Part One,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
14,I162059676,2647,Other,THREATS TO DO BODILY HARM,B2,288,NaN,6/26/2016 15:36,2016,6,Sunday,15,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
26,I172086093,2647,Other,THREATS TO DO BODILY HARM,B2,288,NaN,10/15/2017 13:45,2017,10,Sunday,13,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury
46,I172020563,2647,Other,THREATS TO DO BODILY HARM,B2,288,NaN,3/16/2017 13:02,2017,3,Thursday,13,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)",Roxbury

In [25]:
df_new = pd.read_csv('combined_data.csv')
df_new['year'] = pd.DatetimeIndex(df_new['date']).year
df_new['month'] = pd.DatetimeIndex(df_new['date']).month
df_new.head()

  neighborhood        date  crime_count     price  year  month
0      Allston  2015-06-30          121  419685.0  2015      6
1      Allston  2015-07-31          203  425878.0  2015      7
2      Allston  2015-08-31          284  431874.0  2015      8
3      Allston  2015-09-30          244  438437.0  2015      9
4      Allston  2015-10-31          240  442258.0  2015     10

In [6]:
df_old = pd.read_csv('counts_new.csv')
df_old.head()

   Year   Month  Neighborhood   Amount of Crimes
0  2015       1       Roxbury                  0
1  2015       1    Dorchester                  0
2  2015       1       Roxbury                  0
3  2015       1    Dorchester                  0
4  2015       1     South End                  0

In [59]:
violent_crimes = ['THREATS TO DO BODILY HARM','ASSAULT - AGGRAVATED','DISORDERLY CONDUCT','ASSAULT SIMPLE - BATTERY','ARSON', 'ROBBERY - STREET','ASSAULT - AGGRAVATED - BATTERY', 'ASSAULT - SIMPLE','FUGITIVE FROM JUSTICE',
       'HARASSMENT','BURGLARY - RESIDENTIAL - FORCE','KIDNAPPING - ENTICING OR ATTEMPTED','ROBBERY - BANK', 'WEAPON - FIREARM - SALE / TRAFFICKING', 'HOME INVASION',
       'KILLING OF FELON BY POLICE','ASSAULT & BATTERY', 'ROBBERY ATTEMPT - KNIFE - BANK','ASSAULT & BATTERY D/W - OTHER','ASSAULT D/W - KNIFE ON POLICE OFFICER','VIOLATION - HARASSMENT PREVENTION ORDER''Migrated Report - Robbery']
drug_crimes = ['DRUGS - SICK ASSIST - HEROIN','DRUGS - POSS CLASS D','DRUGS - POSS CLASS C - INTENT TO MFR DIST DISP','DRUGS - POSS CLASS A - HEROIN, ETC. ','DANGEROUS OR HAZARDOUS CONDITION', 'DRUGS - POSS CLASS E',
       'DRUGS - SICK ASSIST - OTHER HARMFUL DRUG','DRUGS - SALE / MANUFACTURING','OPERATING UNDER THE INFLUENCE DRUGS','DRUGS - POSS CLASS B - COCAINE, ETC.','DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP','DRUGS - POSSESSION','DRUGS - CONSP TO VIOL CONTROLLED SUBSTANCE',
       'DRUGS - POSS CLASS E - INTENT TO MFR DIST DISP','DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP','DRUGS - POSSESSION OF DRUG PARAPHANALIA','DRUGS - SICK ASSIST - OTHER NARCOTIC','DRUGS - POSS CLASS D - INTENT TO MFR DIST DISP','DRUGS - CLASS A TRAFFICKING OVER 18 GRAMS','DRUGS - POSS CLASS E INTENT TO MF DIST DISP', 'DRUGS - POSS CLASS D - MARIJUANA, ETC.','DRUGS - POSS CLASS D - INTENT MFR DIST DISP','DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS','DRUGS - GLUE INHALATION','DRUGS - POSSESSION/ SALE/ MANUFACTURING/ USE']
housing_crimes = ['LARCENY THEFT FROM BUILDING','ARSON','STOLEN PROPERTY - BUYING / RECEIVING / POSSESSING',
       'PROPERTY - STOLEN THEN RECOVERED','PROPERTY - MISSING','BURGLARY - RESIDENTIAL - FORCE',
       'BURGLARY - RESIDENTIAL - NO FORCE','BURGLARY - RESIDENTIAL - ATTEMPT','BURGLARY - COMMERICAL - NO FORCE','ROBBERY - HOME INVASION','POSSESSION OF BURGLARIOUS TOOLS','BURGLARY - OTHER - ATTEMPT','B&E RESIDENCE DAY - NO PROP TAKEN','PROPERTY - LOST/ MISSING','BURGLARY - COMMERICAL','BURGLARY - RESIDENTIAL','BREAKING AND ENTERING (B&E) MOTOR VEHICLE (NO PROPERTY STOLEN)','Migrated Report - Robbery','Migrated Report - Burglary/Breaking and Entering']

In [63]:
def counter (year, month, neighborhood):
    violent_crimes = ['THREATS TO DO BODILY HARM','ASSAULT - AGGRAVATED','DISORDERLY CONDUCT','ASSAULT SIMPLE - BATTERY','ARSON', 'ROBBERY - STREET','ASSAULT - AGGRAVATED - BATTERY', 'ASSAULT - SIMPLE','FUGITIVE FROM JUSTICE',
       'HARASSMENT','BURGLARY - RESIDENTIAL - FORCE','KIDNAPPING - ENTICING OR ATTEMPTED','ROBBERY - BANK', 'WEAPON - FIREARM - SALE / TRAFFICKING', 'HOME INVASION',
       'KILLING OF FELON BY POLICE','ASSAULT & BATTERY', 'ROBBERY ATTEMPT - KNIFE - BANK','ASSAULT & BATTERY D/W - OTHER','ASSAULT D/W - KNIFE ON POLICE OFFICER','VIOLATION - HARASSMENT PREVENTION ORDER''Migrated Report - Robbery',]
    df = pd.read_csv('crime_data_w_neighborhood.csv')
    df = df.loc[df['YEAR']== year]
    df = df.loc[df['MONTH'] == month]
    df = df.loc[df['neighborhood'] == neighborhood]
    counter = len(df.index)
    df_violent = df[df.OFFENSE_DESCRIPTION.isin(violent_crimes)]
    df_drug = df[df.OFFENSE_DESCRIPTION.isin(drug_crimes)]
    df_housing = df[df.OFFENSE_DESCRIPTION.isin(housing_crimes)]
    violent_counter = len(df_violent.index)
    drug_counter = len(df_drug.index)
    housing_counter = len(df_housing.index)
    csv_file = open("counts_new.csv", "a")
    writer = csv.writer(csv_file)
    row = []
    row.append(neighborhood)
    row.append(year)
    row.append(month)
    row.append(counter)
    row.append(violent_counter)
    row.append(drug_counter)
    row.append(housing_counter)
    writer.writerow(row)
    
    #print('There were ' + str(counter) + ' violent crimes in ' + neighborhood + ' in ' + str(month) + ' ' + str(year))

years = [2015,2016, 2017, 2018,2019, 2020, 2021]
months = [1,2,3,4,5,6,7,8,9,10,11,12]
neighborhoods = ['Roxbury', 'Dorchester', 'South End', 'Hyde Park', 'Back Bay', 'Brighton',
 'Downtown', 'East Boston' ,'Mattapan', 'Roslindale' ,'West Roxbury',
 'North End' ,'Leather District', 'Allston', 'South Boston', 'Fenway',
 'Jamaica Plain' ,'Mission Hill', 'Charlestown', 'West End', 'Beacon Hill',
 'Longwood', 'Bay Village' ,'Chinatown'] 
for i in years:
    for j in months:
        for k in neighborhoods:
            counter(i, j, k)

In [67]:
new_crimes = pd.read_csv('counts_new_crimes.csv')

In [68]:
new_crimes.head()

,Neighborhood,Year,Month,All Crimes,Violent Crimes,Housing Crimes,Drug Crimes
0,Roxbury,2015,6,548,86,27,33
1,Dorchester,2015,6,1022,142,50,69
2,South End,2015,6,192,22,7,18
3,Hyde Park,2015,6,173,31,14,8
4,Back Bay,2015,6,200,20,2,19